spring:
  datasource:
    url:
    username:
    password:
    driver-class-name:

  application:
    name: backend

  profiles:
    active: local

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          batch_size: 1000
          order_inserts: true
          order_updates: true

system-prompt:

user-prompt:

api-url:

api-key:

env:
  open-data-key:

  clinic-code-url:

  hospital-list-url:

  clinic-payment-url: